# Abaikan direktori dan file yang dihasilkan oleh Vercel dan lingkungan virtual
.vercel
.venv
venv/
env/
ENV/

# Abaikan file cache Python dan log
*.pyc
*.log
__pycache__/

# Abaikan file git dan konfigurasi Repomix/Docker itu sendiri
.git
.gitignore
repomix-output.xml
Dockerfile
.dockerignore